includes:
    - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
    		-
    			identifier: larastan.noEnvCallsOutsideOfConfig
    			path: config/*.php

