name: "Generate Gitmoji Changelog"

on:
  workflow_dispatch:
    branches:
      - main
  push:
    branches:
      - "main"

jobs:
  update-changelog:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0 # Required for fetch all history

      - name: Gitmoji Changelog Action
        uses: sercanuste/gitmoji-changelog-action@v1
        with:
          preset: "node"
